.viewProjectButton {
    color: black;
    text-align: center;
    border: 1px solid black;
    border-radius: 2rem;
    transition: all 0.15s;
}

.viewProjectButton:hover {
    color: white;
    border: 1px solid white;
    background-image: linear-gradient(45deg, #e52e71, #ff8a00)
}