@tailwind base;
@tailwind components;
@tailwind utilities;

.background {
  background-image: linear-gradient(to right top, #7e7e7e, #939393, #a9a9a9, #bfbfbf, #d6d6d6, #dedfe4, #e3e8f1, #e6f2ff, #ccf3ff, #a9f6ff, #82f9ff, #5ffbf1);
  background: rgb(255, 255, 255);
  background: linear-gradient(30deg, rgba(255, 255, 255, 1) 0%, rgba(138, 157, 168, 1) 49%, rgba(246, 231, 213, 1) 100%);
}

.about-me-desc div:nth-of-type(even) {
  /* Apply styles for odd paragraphs */
  background-color: none;
}

.about-me-desc div:nth-of-type(odd) {
  /* Apply styles for even paragraphs */
  background-color: rgba(0, 0, 0, 0.10);
}

.linkButton {
  color: black;
  text-align: center;
  font-size: 18px;
  width: 100%;
  border: none;
  height: 2rem;
  border-color: black;
  border-radius: 2rem;
  transition: all 0.2s;
}

.link {
  color: black;
  text-decoration: underline;
  font-size: 15px;
  width: 100%;
  border: none;
  height: 2rem;
  border-color: black;
  border-radius: 2rem;
  transition: all 0.2s;
}

.link:hover {
  color: white;
}

::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: #949494;
  border: 0px none none;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: #949494;
}

::-webkit-scrollbar-thumb:active {
  background: #4f4f4f;
}

::-webkit-scrollbar-track {
  background: none;
  border-radius: 59px;
}

::-webkit-scrollbar-corner {
  background: transparent;
}