@tailwind base;
@tailwind components;
@tailwind utilities;

.about-me-desc div:nth-of-type(even) {
  /* Apply styles for odd paragraphs */
  background-color: none;
}

.about-me-desc div:nth-of-type(odd) {
  /* Apply styles for even paragraphs */
  background-color:rgba(0, 0, 0, 0.10);
}

.detailButton{
  color: black;
  text-align: center;
  font-size: 18px;
  width: 100%;
  border: solid 1px;
  height: 2rem;
  border-color:black;
  border-radius: 2rem;
  transition: all 0.2s;
}

.detailButton:hover {
  border: solid 1px;
  background: linear-gradient(45deg, #e52e71, #ff8a00);
  color: white;
  transform: scale(1.025);
}

.detailButton:active{
  border: solid 1px;
  background: linear-gradient(45deg, #e52e71, #ff8a00);
  color: white;
  transform: scale(1.05);

}

.linkButton {
  color: black;
  text-align: center;
  font-size: 18px;
  width: 100%;
  border: none;
  height: 2rem;
  border-color:black;
  border-radius: 2rem;
  transition: all 0.2s;
}

.linkButton:hover {
  background: linear-gradient(45deg, #e52e71, #ff8a00);
  color: white;
}

