@tailwind base;
@tailwind components;
@tailwind utilities;

.background {
  background-image: linear-gradient(to right top, #7e7e7e, #939393, #a9a9a9, #bfbfbf, #d6d6d6, #dedfe4, #e3e8f1, #e6f2ff, #ccf3ff, #a9f6ff, #82f9ff, #5ffbf1);
  background: rgb(255, 255, 255);
  background: linear-gradient(30deg, rgba(255, 255, 255, 1) 0%, rgba(138, 157, 168, 1) 49%, rgba(246, 231, 213, 1) 100%);
}

.about-me-desc div:nth-of-type(even) {
  /* Apply styles for odd paragraphs */
  background-color: none;
}

.about-me-desc div:nth-of-type(odd) {
  /* Apply styles for even paragraphs */
  background-color: rgba(0, 0, 0, 0.10);
}

.detailButton {
  color: black;
  text-align: center;
  font-size: 18px;
  width: 100%;
  border: solid 1px;
  height: 2rem;
  border-color: black;
  border-radius: 2rem;
  transition: all 0.2s;
}

.detailButton:hover {
  border: solid 1px;
  background: linear-gradient(45deg, #e52e71, #ff8a00);
  color: white;
  transform: scale(1.025);
}

.detailButton:active {
  border: solid 1px;
  background: linear-gradient(45deg, #e52e71, #ff8a00);
  color: white;
  transform: scale(1.05);

}

.linkButton {
  color: black;
  text-align: center;
  font-size: 18px;
  width: 100%;
  border: none;
  height: 2rem;
  border-color: black;
  border-radius: 2rem;
  transition: all 0.2s;
}

.linkButton:hover {
  background: linear-gradient(45deg, #e52e71, #ff8a00);
  color: white;
}

.link {
  color: black;
  text-decoration: underline;
  font-size: 15px;
  width: 100%;
  border: none;
  height: 2rem;
  border-color: black;
  border-radius: 2rem;
  transition: all 0.2s;
}

.link:hover {
  color: white;
}

/* ---------------------+ Card Space +-------------------- */
