.gradientText {
  font-weight: bold;
  background: linear-gradient(270deg, #ff8ab0, #ff8a00);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

.downloadButton:hover {
  color: white;
  border: 1px solid white;
  background-image: linear-gradient(45deg, #e52e71, #ff8a00);
}