.linkButton {
    text-align: center;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    height: 2rem;
    border-radius: 2rem;
    transition: all 0.15s;
}

.linkButton:hover {
    color: white;
    background-image: linear-gradient(45deg, #e52e71, #ff8a00);
}

.projectPage {
    animation: fadeInAndGrow 0.15s;
}


@keyframes fadeInAndGrow {
    from {
        opacity: 0;
        /* Start opacity */
        transform: scale(0.8);
        /* Start shrink effect */
    }

    to {
        opacity: 1;
        /* End opacity */
        transform: scale(1);
        /* End growth effect */
    }
}