.skillCard {
    margin-left: 3rem;
    margin-right: 3rem;
}

@media (min-width:321px) and (max-width: 472px) {
    .skillCard {
        margin-left: 5rem;
        margin-right: 5rem;
    }
}

/* Media between 472px and 1024px */
@media (min-width: 472px) and (max-width: 672px) {
    .skillCard {
        margin-left: 8rem;
        margin-right: 8rem;
    }
}

@media (min-width: 672px) and (max-width: 768px) {
    .skillCard {
        margin-left: 9rem;
        margin-right: 9rem;
    }   
}

@media (min-width: 768px) and (max-width: 1025px) {
    .skillCard {
        margin-left: 0.3rem;
        margin-right: 0.3rem;
    }
}

@media (min-width: 1024px) {
    .skillCard {
        margin-left: 0.1rem;
        margin-right: 0.1rem;
    }
    
}